<template>
  <div>
    <div>
      <CategoryForm v-bind:type="'create'" />
    </div>
  </div>
</template>
<script>

import CategoryForm from "@/components/CategoryForm";

export default {
  name: 'CreateCategory',
  components: {CategoryForm}
}
</script>