<template>
  <div>
    <div>
      <CategoryForm v-bind:type="'edit'" />
    </div>
  </div>
</template>
<script>

import CategoryForm from "@/components/CategoryForm";

export default {
  name: 'EditCategory',
  components: {CategoryForm}
}
</script>