<template>
  <div class="categories-list">
    <h1>Categories</h1>
    <b-container class="create-request-action">
      <b-row>
        <b-col cols="10">
          <b-form-input v-model="searchQuery" placeholder="Search by name"></b-form-input>
        </b-col>
        <b-col cols="2" align="right">
          <b-link :to="{name: 'CreateCategory' }" class="btn btn-primary">New Category</b-link>
        </b-col>
      </b-row>
    </b-container>
    <b-table striped hover :items="items" :fields="fields" responsive="sm">
      <template #cell(actions)="row">
        <router-link :to="{name: 'ShowCategory', params: {id: row.item._id} }"><i class="bi bi-box-arrow-in-right"></i></router-link>
        &nbsp;&nbsp;
        <router-link :to="{name: 'EditCategory', params: {id: row.item._id} }"><i class="bi bi-pencil"></i></router-link>
        &nbsp;&nbsp;
        <b-link @click="deleteCategory(row.item)"><i class="bi bi-trash"></i></b-link>
      </template>

    </b-table>
    <div v-if="!items" class="text-center mb-3 d-flex justify-content-center">
      <b-spinner
          variant="primary"
      ></b-spinner>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ListCategories',
  data() {
    return {
      fields: ["name", "actions"],
      searchQuery: null
    }
  },
  computed: {
    items() {
      const items = this.$store.getters["categoriesModule/categories"];
      if (this.searchQuery) {
        return items.filter(item => {
          return this.searchQuery.toLowerCase().split(' ').every(v => item.name.toLowerCase().includes(v))
        });
      }
      return items;
    }
  },
  created() {
    this.$store.dispatch("categoriesModule/getAll");
  },
  methods: {
    deleteCategory(category) {
      this.deleteUserName = ''
      this.$bvModal.msgBoxConfirm(`Please confirm that you want to delete category.`, {
        title: `Delete category: ${category.name}`,
        size: 'md',
        buttonSize: 'sm',
        okVariant: 'danger',
        okTitle: 'YES',
        cancelTitle: 'NO',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true
      })
          .then((value) => {
            if (value){
              this.$store.dispatch("categoriesModule/delete", category._id);
              this.$store.dispatch("categoriesModule/getAll")
            }
          })
          .catch(error => {
            console.log(error);
          })
    }
  }
}
</script>
<style>
.create-request-action {
  padding: 20px 0
}
.bi-trash {
  color: red;
}
</style>