<template>
  <div>
    <div v-if="item">
      <h1>Category: {{item.name}}</h1>
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="8">
          <b-card >
            <b-card-text align="left">
              <b-container class="user-details-row">
                <b-row>
                  <b-col>
                    <p>
                      <strong>Name:</strong>
                      {{item.name}}
                    </p>
                  </b-col>
                </b-row>
              </b-container>
            </b-card-text>
          </b-card>
          <b-container class="request-details-actions">
            <b-row>
              <b-col align="right" v-if="currentUser">
                <b-link :to="{name: 'EditCategory', params: {id: item._id} }" class="btn btn-primary">Edit</b-link>
              </b-col>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </div>
    <div v-if="!item" class="text-center mb-3 d-flex justify-content-center">
      <b-spinner
          variant="primary"
      ></b-spinner>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ShowCategory',
  computed: {
    item() {
      const item = this.$store.getters["categoriesModule/selectedCategory"];
      if (item) {
        item.active = (item.active) ? "Active" : "Disable";
      }
      return item;
    },
    currentUser() {
      return this.$store.getters["authentication/isAdminOrTechnical"];
    }
  },
  created() {
    const userId = this.$route.params.id;
    this.$store.dispatch("categoriesModule/getById", userId);
  }
}
</script>
<style>
.user-details-row {
  padding-top: 20px;
}
</style>