<template>
  <div>
    <div v-if="form">
      <h1 v-if="editForm">Edit category</h1>
      <h1 v-if="!editForm">Add new category</h1>
      <b-card>
        <b-card-text align="left">
          <b-container class="request-edit-row">
            <b-row>
              <b-col>
                <b-form @submit="onSubmit">
                  <b-form-group label="Name:" label-for="input-1">
                    <b-form-input
                        id="input-1"
                        v-model="form.name"
                        placeholder="Enter name"
                        required
                    ></b-form-input>
                  </b-form-group>
                  <b-row class="text-center">
                    <b-col>
                      <b-button class="btn-submit" type="submit" variant="primary">Save</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-col>
            </b-row>
          </b-container>
        </b-card-text>
      </b-card>
    </div>
    <div v-if="!form" class="text-center mb-3 d-flex justify-content-center">
      <b-spinner
          variant="primary"
      ></b-spinner>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CategoryForm',
  props: {
    type: String,
  },
  data() {
    return {
      editForm: this.type === "edit"
    }
  },
  computed: {
    form() {
      if (this.type === "edit") {
        return this.$store.getters["categoriesModule/selectedCategory"];
      } else {
        return {
          name: ''
        }
      }
    }
  },
  created() {
    if (this.type === "edit") {
      const userId = this.$route.params.id;
      this.$store.dispatch("categoriesModule/getById", userId);
    } else {
      this.$store.dispatch("categoriesModule/getAll");
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      if (this.type === "edit") {
        this.$store.dispatch("categoriesModule/update", this.form)
      } else {
        this.$store.dispatch("categoriesModule/create", this.form)
      }
    }
  }
}
</script>

<style>
.btn-submit {
  text-align: center;
}
</style>