<template>
  <div>
    <beautiful-chat
        :participants="participants"
        :titleImageUrl="titleImageUrl"
        :onMessageWasSent="onMessageWasSent"
        :messageList="messageList"
        :newMessagesCount="newMessagesCount"
        :isOpen="isChatOpen"
        :close="closeChat"
        :icons="icons"
        :open="openChat"
        :showEmoji="false"
        :showFile="false"
        :showEdition="true"
        :showDeletion="false"
        :showTypingIndicator="showTypingIndicator"
        :showLauncher="true"
        :showCloseButton="true"
        :colors="colors"
        :alwaysScrollToBottom="alwaysScrollToBottom"
        :messageStyling="messageStyling"
        @onType="handleOnType"
        @edit="editMessage" />
  </div>
</template>

<script>
import CloseIcon from '../assets/close-icon.png'
import OpenIcon from '../assets/logo-no-bg.svg'
import FileIcon from '../assets/file.svg'
import CloseIconSvg from '../assets/close.svg'

const initialMessage = { type: 'text', author: `support`, data: { text: `Olá, como posso ajudar?` } };

export default {
  name: 'ChatBot',
  data() {
    return {
      user: null,
      icons:{
        open:{
          img: OpenIcon,
          name: 'default',
        },
        close:{
          img: CloseIcon,
          name: 'default',
        },
        file:{
          img: FileIcon,
          name: 'default',
        },
        closeSvg:{
          img: CloseIconSvg,
          name: 'default',
        },
      },
      titleImageUrl: 'https://a.slack-edge.com/66f9/img/avatars-teams/ava_0001-34.png',
      messageList: [
        { type: 'text', author: `support`, data: { text: `Olá, como posso ajudar?` } }
      ],
      newMessagesCount: 0,
      isChatOpen: false,
      showTypingIndicator: '',
      colors: {
        header: {
          bg: '#4e8cff',
          text: '#ffffff'
        },
        launcher: {
          bg: '#4e8cff'
        },
        messageList: {
          bg: '#ffffff'
        },
        sentMessage: {
          bg: '#4e8cff',
          text: '#ffffff'
        },
        receivedMessage: {
          bg: '#eaeaea',
          text: '#222222'
        },
        userInput: {
          bg: '#f4f7f9',
          text: '#565867'
        }
      }, // specifies the color scheme for the component
      alwaysScrollToBottom: false,
      messageStyling: true
    }
  },
  computed: {
    participants() {
      const user = this.$store.getters["authentication/getUser"];
      if (user) {
        return [
          {
            id: "support",
            name: "Support"
          },
        ]
      }
      return [];
    }
  },
  methods: {
    sendMessage (text) {
      if (text.length > 0) {
        this.newMessagesCount = this.isChatOpen ? this.newMessagesCount : this.newMessagesCount + 1
        const user = this.$store.getters["authentication/getUser"];
        this.onMessageWasSent({ author: user._id, type: 'text', data: { text } })
      }
    },
    onMessageWasSent (message) {
      this.$store.dispatch("chatBotModule/call", message.data.text.trim()).then(() => {
        const msg = this.$store.getters["chatBotModule/message"];
        if (msg && msg !== "") {
          this.messageList = [ ...this.messageList, { type: 'text', author: `support`, data: { text: msg } }]
        }
      });
      this.messageList = [ ...this.messageList, message]
    },
    openChat () {
      this.isChatOpen = true
      this.newMessagesCount = 0
      this.messageList = [initialMessage];
    },
    closeChat () {
      this.isChatOpen = false
    },
    handleOnType () {
      console.log('Emit typing event')
    },
    editMessage(message){
      const m = this.messageList.find(m=>m.id === message.id);
      m.isEdited = true;
      m.data.text = message.data.text;
    }
  },
  created() {
    this.messageList = [initialMessage];
  }
}
</script>