<template>
  <footer class="footer">
    <div class="container">
     PWA - Service Desk - Projeto final de Programação Web Avançada - Nuno Silva (2001499)
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}

</script>

<style>
.footer {
  #position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}

.footer a {
  font-size: 1.6rem;
  padding: 15px;
  color: #212529;
}

.footer a:hover {
  color: #1976d2;
}

</style>