<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#"><i class="bi bi-gear-wide-connected"></i> PWA - SERVICE DESK</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-navbar-nav >
            <b-nav-item to="/">Service Requests</b-nav-item>
            <b-nav-item v-if="isAdmin" to="/users">Users</b-nav-item>
            <b-nav-item v-if="isAdmin" to="/categories">Categories</b-nav-item>
          </b-navbar-nav>
<!--          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form>-->
          <b-nav-item-dropdown v-if="user" right>
            <template #button-content>
              <i class="bi bi-person-circle"></i>
              {{ user }}
            </template>
            <b-dropdown-item to="/login">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
  export default {
    name: 'Navbar',
    computed: {
      user() {
        const user = this.$store.getters["authentication/getUser"];
        if (user) {
          return user.name;
        }
        return null;
      },
      isAdmin() {
        const isAdmin = this.$store.getters["authentication/isAdmin"];
        return (isAdmin == null )? false : isAdmin;
      }
    }
  }
</script>
