<template>
  <div>
    <div v-if="form">
      <h1 v-if="editForm">Edit service request number: {{form.requestNumber}}</h1>
      <h1 v-if="!editForm">New service request</h1>
      <b-card>
        <b-card-text align="left">
          <b-container class="request-edit-row">
            <b-row>
              <b-col>
                <b-form @submit="onSubmit">
                  <b-form-group label="Title:" label-for="input-1">
                    <b-form-input
                        id="input-1"
                        v-model="form.title"
                        placeholder="Enter Title"
                        required
                        :disabled="isTechnical"
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group label="Description:" label-for="input-3">
                    <b-form-textarea
                        id="input-3"
                        v-model="form.description"
                        placeholder="Enter description"
                        rows="3"
                        max-rows="6"
                        required
                        :disabled="isTechnical"
                    ></b-form-textarea>
                  </b-form-group>
                  <b-form-group label="Category:" label-for="input-2" v-if="categoryOptions">
                    <b-form-select id="input-2" v-model="form.category" :options="categoryOptions"></b-form-select>
                  </b-form-group>
                  <b-form-group label="Status:" label-for="input-4" v-if="currentUser">
                    <b-form-select id="input-4" v-model="form.state" :options="status"></b-form-select>
                  </b-form-group>
                  <b-form-group label="Assign To:" label-for="input-5" v-if="technicals && currentUser">
                    <b-form-select id="input-5" v-model="form.assignTo" :options="technicals"></b-form-select>
                  </b-form-group>
                  <b-form-group label="Solution:" label-for="input-6" v-if="currentUser">
                    <b-form-textarea
                        id="input-6"
                        v-model="form.solution"
                        placeholder="Enter description"
                        rows="3"
                        max-rows="6"
                        :required="solutionIsRequired"
                    ></b-form-textarea>
                  </b-form-group>
                  <b-row class="text-center">
                    <b-col>
                      <b-button class="btn-submit" type="submit" variant="primary">Save</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-col>
            </b-row>
          </b-container>
        </b-card-text>
      </b-card>
    </div>
    <div v-if="!form" class="text-center mb-3 d-flex justify-content-center">
      <b-spinner
          variant="primary"
      ></b-spinner>
    </div>

  </div>
</template>
<script>
import {Role} from "@/helpers/user-role";

export default {
  name: 'RequestForm',
  props: {
    type: String,
  },
  data() {
    return {
      editForm: this.type === "edit",
      status: [
        { value: "open", text: "Open"},
        { value: "work_in_progress", text: "In Progress"},
        { value: "closed", text: "Closed"},
        { value: "cancelled", text: "Cancelled"}
      ]
    }
  },
  computed: {
    form() {
      if (this.type == "edit") {
        return this.$store.getters["requestsModule/selectedRequest"];
      } else {
        return {
          title: '',
          category: '',
          description: '',
          state: 'open',
          assignTo: '',
          solution: ''
        }
      }
    },
    categoryOptions() {
      const categories = this.$store.getters["categoriesModule/categories"];
      if (!categories) {
        return [];
      }
      return categories.map(c => {
        return {value: c._id, text: c.name}
      });
    },
    technicals() {
      const users = this.$store.getters["usersModule/users"];
      if (!users) {
        return [];
      }
      return users.map(c => {
        return {value: c._id, text: c.name}
      });
    },
    currentUser() {
      return this.$store.getters["authentication/isAdminOrTechnical"];
    },
    isTechnical() {
      return this.$store.getters["authentication/isTechnical"];
    },
    solutionIsRequired() {
      return this.form.state === "closed";
    }
  },
  created() {
    if (this.type === "edit") {
      const requestId = this.$route.params.id;
      this.$store.dispatch("requestsModule/getById", requestId);
    }
    this.$store.dispatch("usersModule/getUsersByRole", Role.technical);
    this.$store.dispatch("categoriesModule/getAll");
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      if (this.type === "edit") {
        this.$store.dispatch("requestsModule/update", this.form)
      } else {
        this.$store.dispatch("requestsModule/create", this.form)
      }

    }
  }
}
</script>

<style>
  .btn-submit {
    text-align: center;
  }
</style>