<template>
  <div>
    <div v-if="form">
      <h1 v-if="editForm">Edit user: {{form.name}}</h1>
      <h1 v-if="!editForm">Add new user</h1>
      <b-card>
        <b-card-text align="left">
          <b-container class="request-edit-row">
            <b-row>
              <b-col>
                <b-form @submit="onSubmit">
                  <b-form-group label="Name:" label-for="input-1">
                    <b-form-input
                        id="input-1"
                        v-model="form.name"
                        placeholder="Enter name"
                        required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group label="Email:" label-for="input-2">
                    <b-form-input
                        id="input-2"
                        v-model="form.email"
                        type="email"
                        placeholder="Enter email"
                        required
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group label="Password:" label-for="input-3">
                    <b-form-input
                        type="password"
                        id="tinput-3"
                        v-model="form.password"
                        aria-describedby="password-help-block"
                        >
                    </b-form-input>
                    <b-form-text id="password-help-block">
                      Your password must be 8-20 characters long, contain letters and numbers, and must not
                      contain spaces, special characters, or emoji.
                    </b-form-text>
                  </b-form-group>
                  <b-form-group label="Role:" label-for="input-4" v-if="roles">
                    <b-form-select id="input-4" v-model="form.role" :options="roles"></b-form-select>
                  </b-form-group>
                  <b-form-checkbox
                      id="checkbox-1"
                      v-model="form.active"
                      name="active"
                      value="true"
                      unchecked-value="false"
                  >
                    Active
                  </b-form-checkbox>
                  <b-row class="text-center">
                    <b-col>
                      <b-button class="btn-submit" type="submit" variant="primary">Save</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-col>
            </b-row>
          </b-container>
        </b-card-text>
      </b-card>
    </div>
    <div v-if="!form" class="text-center mb-3 d-flex justify-content-center">
      <b-spinner
          variant="primary"
      ></b-spinner>
    </div>
  </div>
</template>
<script>
import {Role} from "@/helpers/user-role";

export default {
  name: 'UserForm',
  props: {
    type: String,
  },
  data() {
    return {
      editForm: this.type === "edit",
      roles: Role.toArray(),
    }
  },
  computed: {
    form() {
      if (this.type === "edit") {
        const user =this.$store.getters["usersModule/selectedUser"];
        return user;
      } else {
        return {
          name: '',
          email: '',
          password: '',
          role: '',
          active: true,
        }
      }
    }
  },
  created() {
    if (this.type === "edit") {
      const userId = this.$route.params.id;
      this.$store.dispatch("usersModule/getById", userId);
    } else {
      this.$store.dispatch("usersModule/getAll");
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      if (this.type === "edit") {
        this.$store.dispatch("usersModule/update", this.form)
      } else {
        this.$store.dispatch("usersModule/create", this.form)
      }
    }
  }
}
</script>

<style>
.btn-submit {
  text-align: center;
}
</style>