<template>
  <div>
    <div>
      <h1></h1>
      <RequestForm v-bind:type="'create'" />
    </div>
  </div>
</template>
<script>

import RequestForm from "@/components/RequestForm";

export default {
  name: 'CreateRequest',
  components: {RequestForm}
}
</script>