<template>
  <div class="service-request-list">
    <h1>Service Request List</h1>
    <b-container class="create-request-action">
      <b-row>
        <b-col cols="7" md="10" col>
            <b-form-input v-model="searchQuery" placeholder="Search by request"></b-form-input>
        </b-col>
        <b-col cols="5" md="2" align="right">
          <b-link :to="{name: 'CreateRequest' }" class="btn btn-primary">New Request</b-link>
        </b-col>
      </b-row>
    </b-container>
    <div v-if="items">
      <b-table striped hover :items="items" :fields="fields" responsive="sm">
        <template #cell(state)="row">
          {{ getStateName(row.item.state) }}
        </template>
        <template #cell(actions)="row">
          <router-link :to="{name: 'ShowRequest', params: {id: row.item._id} }"><i class="bi bi-box-arrow-in-right"></i></router-link>
          &nbsp;&nbsp;
          <router-link :to="{name: 'EditRequest', params: {id: row.item._id} }" v-if="isAdminOrTechnical"><i class="bi bi-pencil"></i></router-link>
        </template>

      </b-table>
    </div>
    <div v-if="!items" class="text-center mb-3 d-flex justify-content-center">
      <b-spinner
          variant="primary"
      ></b-spinner>
    </div>

  </div>
</template>
<script>
  export default {
    name: 'ListRequest',
    data() {
      return {
        searchQuery: null,
        windowWidth: window.windowWidth,
      }
    },
    computed: {
      fields() {
        if (this.windowWidth < 800) {
          return ["requestNumber", "state", "actions"];
        }
        return ["requestNumber", "state", "title", "category" ,"createdOn", "actions"];
      },
      items() {
        const items = this.$store.getters["requestsModule/requests"];
        const categories = this.$store.getters["categoriesModule/categories"];

        if (items && categories) {
          const itemsMap =  items.map(i => {
            const category = categories.find(c => c._id === i.category);
            if (category) {
              i.category = category.name;
            }
            return i;
          });

          if (this.searchQuery) {
            return itemsMap.filter(item => {
              return this.searchQuery.toLowerCase().split(' ').every(v => item.requestNumber.toLowerCase().includes(v))
            });
          }
          return itemsMap;
        }
        return null;
      },
      isAdminOrTechnical() {
        return this.$store.getters["authentication/isAdminOrTechnical"];
      }
    },
    created() {
      this.$store.dispatch("requestsModule/getAll");
      this.$store.dispatch("categoriesModule/getAll");
    },
    mounted() {
      this.$nextTick(() => {
        window.addEventListener('resize', this.onResize);
      })
    },

    beforeDestroy() {
      window.removeEventListener('resize', this.onResize);
    },
    methods: {
      getCategoryName(id) {
        const categories = this.categories;
        if(categories) {
          const selectedCategory = categories.find(c => c._id === id);
          if (selectedCategory) {
            return selectedCategory.name
          }
        }
        return "";
      },
      getStateName(state) {
        const status = [
          { value: "open", text: "Open"},
          { value: "work_in_progress", text: "In Progress"},
          { value: "closed", text: "Closed"},
          { value: "cancelled", text: "Cancelled"}
        ]
        const selectState = status.find(s => s.value === state);
        return (selectState) ? selectState.text : "";
      },

      onResize() {
        this.windowWidth = window.innerWidth
      }
    }
  }
</script>
<style>
.create-request-action {
  padding: 20px 0
}
</style>