<template>
  <div>
    <div v-if="item">
      <h1>Service Request number: {{item.requestNumber}}</h1>
      <b-card >
        <b-card-text align="left">
          <b-container class="request-details-row">
            <b-row>
              <b-col>
                <p>
                  <strong>Title:</strong><br />
                  {{item.title}}
                </p>
                <p>
                  <strong>category:</strong><br />
                  {{category}}
                </p>
                <p>
                  <strong>Description:</strong><br />
                  {{item.description}}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" md="4">
                <p>
                  <Strong>State: </Strong>{{getStateName(item.state)}}
                </p>
              </b-col>
              <b-col cols="12" md="4"><p><Strong>Requested by: </Strong>{{userName(item.requestedBy)}}</p></b-col>
              <b-col cols="12" md="4" v-if="item.assignTo"><p><Strong>Assign to: </Strong>{{userName(item.assignTo)}}></p></b-col>
            </b-row>
            <b-row>
              <b-col v-if="item.solution">
                <p>
                  <Strong>Solution:</Strong> <br />
                  {{item.solution}}
                </p>
              </b-col>
            </b-row>
          </b-container>
        </b-card-text>
      </b-card>
      <b-container class="request-details-actions">
        <b-row>
          <b-col align="right" v-if="currentUser">
            <b-link :to="{name: 'EditRequest', params: {id: item._id} }" class="btn btn-primary">Edit</b-link>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div v-if="!item" class="text-center mb-3 d-flex justify-content-center">
      <b-spinner
          variant="primary"
      ></b-spinner>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ShowRequest',
  computed: {
    item() {
      const item = this.$store.getters["requestsModule/selectedRequest"];
      return item;
    },
    currentUser() {
      return this.$store.getters["authentication/isAdminOrTechnical"];
    },
    category() {
      const categories = this.$store.getters["categoriesModule/categories"];
      if(categories) {
        const selectedCategory = categories.find(c => c._id === this.item.category);
        if (selectedCategory) {
          return selectedCategory.name
        }
      }
      return "";
    },
  },
  created() {
    const requestId = this.$route.params.id;
    this.$store.dispatch("requestsModule/getById", requestId);
    this.$store.dispatch("usersModule/getAllUsersNames");
    this.$store.dispatch("categoriesModule/getAll");
  },
  methods: {
    userName(userId) {
      const users = this.$store.getters["usersModule/getAllUserName"];
      const selectedUser = users.find(u => u.userId === userId);
      if(selectedUser) {
        return selectedUser.name;
      }
      return "";
    },
    getStateName(state) {
      const status = [
        { value: "open", text: "Open"},
        { value: "work_in_progress", text: "In Progress"},
        { value: "closed", text: "Closed"},
        { value: "cancelled", text: "Cancelled"}
      ]
      const selectState = status.find(s => s.value === state);
      return (selectState) ? selectState.text : "";
    },
  }
}
</script>
<style>
.request-details-actions {
  padding-top: 20px;
}
</style>