<template>
  <div id="app">
    <div class="site-content">
      <Navbar />
      <b-container>
        <router-view/>
      </b-container>
      <ChatBot v-if="!isLoginPage" />
    </div>
    <Footer />
    {{alert}}
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.site-content {
  flex: 1;
}

</style>

<script>
import Navbar from "@/components/NavBar";
import ChatBot from "@/components/ChatBot";
import Footer from "@/components/Footer";
const alertTypes = {
  error: {title: "Error!", variant: "danger"},
  success: {title: "Success!", variant: "success"},
  warning: {title: "Warning!", variant: "warning"}
}

export default {
  name: 'app',
  components: {Footer, ChatBot, Navbar},
  computed: {
    alert () {
      const alert = this.$store.state.alert;
      if (alert.type != null) {
        this.$bvToast.toast(alert.message, {
          title: alertTypes[alert.type].title,
          variant: alertTypes[alert.type].variant,
          autoHideDelay: 5000,
        });
      }
      return "";
    },
    isLoginPage() {
      return this.$route.name === "Login";
    }
  }
}
</script>
