<template>
  <div>
    <div>
      <UserForm v-bind:type="'edit'" />
    </div>
  </div>
</template>
<script>

import UserForm from "@/components/UserForm";

export default {
  name: 'EditUser',
  components: {UserForm}
}
</script>